*{
    margin: 0;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgb(116, 132, 185), rgb(110, 143, 180), rgb(186, 186, 199));
}
main{
    width: 300px;
    height: 350px;
    margin-top: 100px;
    border: 2px solid grey;
    border-radius: 1rem;
    background-image: linear-gradient(rgb(116, 132, 185), rgb(110, 143, 180), rgb(186, 186, 199));
    
}

 .containner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}
.containner2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid grey;
    border-radius: 0.4rem;
    margin: auto;
    width: 90%;
    height: 220px;
}
.display {
    margin: auto;
    width: 90%;
    margin-top: 30px;
    height: 60px;
    background-color: azure;
    border:  2px solid rgb(116, 88, 88);
    border-radius: 0.4rem;


}

.operators, .number {
    /* border:  1px solid black; */
    border-radius: 0.4rem;
    height: 10px;

}
.number{
    height: 96%;
    width: 58%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;

}
.dig{
    display: grid;
    justify-content: center;
    align-items: center;
    width:  30px;
    height: 30px;
    /* border: 2px solid rgb(167, 64, 64); */
}
.dig2{
    grid-template-columns: 2fr;
}
button{
    display: block;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    width:  30px;
    height: 30px;
}

.operators{
    height: 96%;
    width: 35%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}